gateways:
  - name: nginx
    namespace: nginx-gateway
    spec:
      gatewayClassName: nginx
      listeners:
        - name: http
          port: 80
          protocol: HTTP
          hostname: "*.{{ .Values.domain }}"
          allowedRoutes:
            namespaces:
              from: All
