app:
  env:
    WORDPRESS_URL: http{{ if .Values.tls }}s{{ end }}://wordpress.{{ .Values.domain }}
route:
  enabled: true
  tracing:
    enabled: true
  hostnames:
    - wordpress.{{ .Values.domain }}
  parentRefs:
    - name: nginx
      namespace: nginx-gateway
      sectionName: http
