export KUBECONFIG=$PWD/.kube/config
export SOPS_AGE_RECIPIENTS="ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDkzk8x+6ri82GUszygAJJPnYzvMjwBY2z2bcT4aG7HhZxaSt8AB2qmysOL4xCxRUJYizc+TShPsc6bLrB524am+VIHUPHJMNLcL1N85LjneUUsj3RfYG9dypxJI3xsIlyQ+sjxnPDYhFz6cTuTOobPNAnWnx5z4eigUV9hjtBWgZlshI2Bdis6m8R8Io/9UoRcUG3i+FFm4grJMKyGDjlTNfFHi6lr7xphn201XKYuViAjDXdt8AMn2/GuKKShK6toFeTNnT1/23NiYuKmhn+Lkyt1uhnVDi2ZAM7AhUW4ycgL3J3qQYsQd98376ng5QbROsux3WL41YJUNboAjHPXw75YulJfAA4GQRBxlGPrKlCztirs59JZEdW+iVLTERKpT4C2dWYZKqZCmFfTTmtkbGfSVsoDPqN69//Trwu98m3QUVKUBmhT2cHOJSd5nY7i6RseBPXbgaoOr3vCRght2HRF7EhBvknPYJaAgSFAGRBDHHj3VkElIH0g/12QIh44cQLI/wi3vwCD1Tyrs810vB61F/6LX+WFLDzAbE2ZV6uVfgQ2VCj+5Wx3at6WZ8lSvSBSCBEVLJRxYet7sJgr83tImcZUu9TaDGK9TewsPJS10fJbblVt7FKK7kywIRCwD4ZJgrjtyWfoJ8mrBM3k5PDlosm4aIJrWqdzL3dO4Q== lucasdicunzolo@gmail.com"